$bg-primary-btn : $mdg-color-1;
$bd-primary-btn : $mdg-color-1;
$color-primary-btn : $mdg-white;

$bg-primary-btn-hover : $mdg-color-1;
$bd-primary-btn-hover : $mdg-color-1;
$color-primary-btn-hover : $mdg-white;

$bg-primary-bordered-btn : $mdg-white;
$bd-primary-bordered-btn : $mdg-color-1;
$color-primary-bordered-btn : $mdg-color-1;

$bg-primary-bordered-btn-hover : $mdg-color-1;
$bd-primary-bordered-btn-hover : $mdg-color-1;
$color-primary-bordered-btn-hover : $mdg-white;

$bg-secondary-btn : $mdg-color-3;
$bd-secondary-btn : $mdg-color-3;
$color-secondary-btn : $mdg-color-4;

$bg-secondary-btn-hover : $mdg-color-1;
$bd-secondary-btn-hover : $mdg-color-1;
$color-secondary-btn-hover : $mdg-white;

$bg-secondary-bordered-btn : $mdg-color-1;
$bd-secondary-bordered-btn : $mdg-color-1;
$color-secondary-bordered-btn : $mdg-white;

$bg-secondary-bordered-btn-hover : $mdg-color-1;
$bd-secondary-bordered-btn-hover : $mdg-color-1;
$color-secondary-bordered-btn-hover : $mdg-white;


$bd-radius-btn : 5px;
$bd-size-btn : 1px;