$bg-menu : $mdg-color-2;
$bg-menu-active : $mdg-color-4;
$bg-submenu : $mdg-light-grey;
$bg-submenu-active : $mdg-white;
$color-menu : $mdg-black;
$color-menu-active : $mdg-black;
$color-submenu : $mdg-grey;
$color-submenu-active : $mdg-black;

$bg-menu-button: $mdg-color-2;
$bg-menu-button-active: $mdg-color-2;
$bg-menu-button-border: $mdg-color-2;
$bg-menu-button-border-active: $mdg-color-2;
$color-menu-button: $mdg-black;
$color-menu-button-active: $mdg-black;

$bg-menu-toggle: $mdg-color-2;
$bg-menu-toggle-active: $mdg-color-2;
$bg-menu-toggle-border: $mdg-color-2;
$bg-menu-toggle-border-active: $mdg-color-2;
$color-menu-toggle: $mdg-black;
$color-menu-toggle-active: $mdg-black;

$bg-footer-menu : transparent;
$bg-footer-menu-active : transparent;
$color-footer-menu : $mdg-black;
$color-footer-menu-active : $mdg-grey;

$bg-top-menu : $mdg-color-2;
$bg-top-menu-active : transparent;
$color-top-menu : $mdg-color-1;
$color-top-menu-active : $mdg-color-2;
