@import './post';
@import "node_modules/wp-midgardsormen/scss/layout/mdg_base_list";
@import "node_modules/wp-midgardsormen/scss/base/elements/mdg-base-list-item";

.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
